#I want to press Ctrl-H in bash terminal and have it delete the 
#previous word in bash terminal, as it is in vim
"\C-H": shell-backward-kill-word

#I want to press Ctrl-L in bash terminal, normally designed to 
#clear screen which I never use, and have it delete the 
#next word in bash terminal, as it is in vim
"\C-l": shell-kill-word                                                                                                        


# Ctrl-Delete: delete next word
#"\e[3;5~": shell-kill-word

#bind -x '"\C-l": clear; ls'


#Put this in your ~/.inputrc
#Press Ctrl-p and Ctrl-n for history search if you don't have it
#"\e[A": history-search-backward
#"\e[B": history-search-forward
#"\C-p": history-search-backward
#"\C-n": history-search-forward
